body{
	background-color: #ccfbff;
}

p {
	color:blue;
}

h1{
	color:red;
}

input{
	color:black;
	background-color:#97bcfc;
	border: 1;
	width:100%;
	padding:10px;
	display: inline-block;
	border-radius: 10px;
	border-color: white;
	font-weight: 700;
}
