body{
	background-color: #ccfbff;
}

p {
	color:blue;
}

h1{
	color:red;
}

input{
	color:black;
	background-color:#97bcfc;
	border:0;
	margin:1px;
	width:94vw;
	height: 7vh;
	padding:10px;
	display: inline-block;

	font-weight: 700;
	
}

td{
	width:0;
}

#s1{
	float:left;
}

#s2{
	float:right;
}